:root {
  --lightgray: #ebdbb2;
  --midgray: #bdae93;
  --darkgray: #665c54;
  --dark: #282828;
  --orange: #d65d0e;
  --blue: #458588;
  --green: #b8bb26;
  --purple: #d3869b;
}

html, body {
  margin: 0;
  height: 100%;
  color: var(--dark);
}

body {
  background-color: var(--darkgray);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-flow: column;
  overscroll-behavior-y: contain;
}

.row {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: bold;
}

header {
  background-color: var(--lightgray);
  box-sizing: border-box;
  padding: 3px 6px;
  color: var(--darkgray);
  font-weight: bold;
}

h1 {
  font-size: 1.7em;
  margin: 0;
  text-shadow: var(--midgray) 0 3px 3px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  font-size: 1.4em;
}

.button {
  border-radius: 8px;
  border: none;
  box-shadow: 1px 1px var(--dark);
}

#new-game-button {
  padding: 6px;
  background-color: var(--orange);
  color: var(--lightgray);
}

main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.letter-row {
  margin: auto;
  display: flex;
  justify-content: center;
}

.letter {
  background-color: var(--lightgray);
  color: var(--darkgray);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.06em;
  border-radius: 6px;
  box-shadow: 4px 4px 4px var(--dark);
}


.guess-letter {
  width: 1.3em;
  height: 1.3em;
  font-size: 2.8rem;
  font-weight: bold;
}


#message {
  margin: auto auto 0;
  min-height: 3.2em;
  font-size: 1.2rem;
  color: var(--lightgray);
  font-family: 'Courier New', Courier, monospace;
}


.keyboard-letter {
  width: 1.02em;
  height: 1.66em;
  margin: 0.08em;
}
@media all and (min-width: 720px) {
.keyboard-letter {
    font-size: 56.16px;
  }
}
@media all and (max-width: 999px) {
.keyboard-letter {
    font-size: 7.6vw;
  }
}

#letter-⇐, #letter-⏎ {
  width: 1.66em;
}


.incorrect {
  background-color: var(--midgray);
  color: var(--lightgray);
}
.misplaced {
  background-color: var(--blue);
  color: var(--lightgray);
}
.correct {
  background-color: var(--green);
  color: var(--lightgray);
}

.upper {
  text-transform: uppercase;
}

.clickable {
  cursor: pointer;
}

.clickable:active {
  animation-name: clickable-press;
  animation-duration: 1s;
}

@keyframes clickable-press {
  from {background-color: var(--darkgray);}
}

.non-selectable {
  /* Make all text non selectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dialog {
  margin: 50px auto;
  max-height: 80vh;
  background-color: var(--purple);
  border-radius: 20px;
  border: none;
  box-shadow: 8px 8px 8px var(--dark);
  color: var(--dark);
}

.dialog h2 {
  margin: 5px 5px 20px;
  border-bottom: 2px solid;
  display: flex;
  align-items: center;
}

.form {
  margin: 5px;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: flex-start;
  gap: 24px;
  font-family: 'Courier New', Courier, monospace;
}

.menu-link {
  font-weight: bold;
}

.dialog .button {
  margin: 0 auto;
  padding: 8px;
  background-color: var(--lightgray);
  font-size: 1.1em;
}

.dropdown {
  padding: 4px;
  border-radius: 4px;
  border: none;
  background-color: var(--lightgray);
}

.dialog .back-link {
  margin: 0 20px 2px 0;
  padding: 1px 14px 1px 10px;
  background-color: var(--lightgray);
}

.back-link::before {
  font-family: Arial;
  content: '\25c4';
}

.welcome-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
}

#history-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-card {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100%;
  background-color: var(--lightgray);
  box-shadow: 4px 4px 4px var(--dark);
}

.history-word {
  display: flex;
  flex-direction: row;
}

.history-letter {
  width: 1.3em;
  height: 1.3em;
  font-size: 1.4rem;
  font-weight: bold;
}

#stats-div{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

.chart-row {
  margin: 0 0 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.chart-bar-container {
  flex-grow: 1;
}

.chart-bar {
  height: 1em;
  display: flex;
  background-color: var(--darkgray);
  color: var(--lightgray);
  justify-content: space-between;
  border-radius: 5px;
  padding: 0 3px;
  box-shadow: 1px 1px var(--dark);
}
